Package: com.ipadkid.batterystatus
Name: BatteryStatus
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Fixes bug for some bluetooth headphones that do not show its battery in the status bar
Maintainer: ipad_kid <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
Version: 0.0.3
